# Dependencias
node_modules/

# Archivos de construcción
dist/
build/

# Variables de entorno con secretos
.env
.env.local
.env.*.local

# Docker (volúmenes de datos, aunque el compose está bien)
postgres_data/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/

# para no pasar el 
server/.env
